body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 0;
}

header {
  justify-content: space-between;
  position: relative;
}

.logo img {
  max-height: 100px;
}

nav ul {
  display: flex;
  font-size: 14px;
}

nav li {
  margin-left: 30px;
  padding: 36px 0;
}

nav li:first-child {
  margin-left: 0;
}

.nav--toggle {
  display: none;
}

main {
  margin: 100px 0;
}

.home--about {
  display: flex;
}

.home--portrait,
.home--bio {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 300px;
  position: relative;
}

.home--portrait img {
  position: absolute;
  width: 100%;
}

.home--bio {
  box-sizing: border-box;
  margin-top: 5%;
  padding-top: 50px;
  padding: 5%;
}

.home--bio h1 {
  font-size: 40px;
}
