---
layout: default
---

<div class="col sqs-col-12 span-12">
  <div class="sqs-block html-block sqs-block-html">
    <div class="sqs-block-content">
      <h2 style="text-transform:uppercase">
        {{ page.title }}
      </h2>
    </div>
  </div>
  <div class="sqs-block horizontalrule-block sqs-block-horizontalrule">
    <div class="sqs-block-content"><hr /></div>
  </div>
  <div class="sqs-block html-block sqs-block-html">
    <div class="sqs-block-content">
      {{ content }}
      <h3 data-rte-preserve-empty="true" style="white-space:pre-wrap;"></h3>
    </div>
  </div>
  <div class="sqs-block horizontalrule-block sqs-block-horizontalrule">
    <div class="sqs-block-content"><hr /></div>
  </div>
</div>
